<ul class="list-group">
  {{#each issue in model}}
      <li class="list-group-item pull-left shadow-z-2">
          {{#link-to 'issue' issue class="issue"}}
              <div>
                  <div class="issue-top-info">
                      <h4>{{issue.name}}</h4>
                      <p>{{issue.description}}</p>
                  </div>
                  <div class="issue-bottom-info">
                      <div class="text-left"><i class="mdi-action-accessibility"></i> {{issue.concernedUsers.length}}</div>
                      <div class="text-right">Ends {{moment issue.expiresAt 'DD.MM.YYYY'}}</div>
                  </div>
              </div>
          {{/link-to}}
      </li>
  {{/each}}
</ul>
<br/>