<ul class="list-group">
  {{#each issue in model}}
      <li class="list-group-item pull-left shadow-z-2">
          <a href="#">
              <div>
                  <div class="issue-top-info">
                      <h4>{{issue.name}}</h4>
                      <p>{{issue.description}}</p>
                  </div>
                  <div class="issue-bottom-info">
                      <div class="pull-left"># participants: X</div>
                      <div class="pull-right">End: {{moment issue.expiresAt 'DD.MM.YYYY'}}</div>
                  </div>
              </div>
          </a>
      </li>
  {{/each}}
</ul>
<br/>