{{#each issue in model}}
    <li>Name: {{issue.name}}</li>
    <li>Description: {{issue.description}}</li>
    <li>Created by: {{issue.createdBy.email}}</li>
{{/each}}
<br/>
Create new {{#link-to 'issues.new'}}here{{/link-to}}.
