@import '/header/navbar.less';
@import '/modal/modal.less';

@import "/bower_components/bootstrap-material-design/less/material.less";

@primary: @green;

.btn {
  color: white !important;
}

body {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 700px;
}

footer {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.model-container {
  width: 100%;
  background-color: white !important;
  padding: 10px !important;
  margin: 12px;
}

.poll-detail {
  padding: 10px !important;
}

.issue-bottom-info {
  width: 100%;
  display: table;
  vertical-align: middle;
  div {
    width: 50%;
    display: table-cell;
  }
}

.list-group a {
  text-decoration: none;
}

.list-group-item {
  width: 300px !important;
}

.list-group-item:hover {
  h4 {
    color: orange;
  }
  transition: all .3s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

.issue-top-info {
  p {
    font-style: italic;
  }
}

.issue-bottom-info {
  color: grey;
  font-size: small;
}
