@import '/header/navbar.less';
@import '/finder.less';

body {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.modal-form {
  margin: 50px auto;
  position: relative;
  width: 450px;
  background-color: #FFFFFF;
  padding: 1em;
  z-index: 1000;
  border-radius: 2%;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
