<div class="place-finder">
    <h3>Don't wanna eat alone? Just tell us what would you like to eat and invite friends to join.</h3>
    <h4>Step I. - Food Preferences</h4>
    <form class="form-horizontal">
        <div class="input-group">
            <div class="checkbox">
                <label class="checkbox-inline">
                    <input type="checkbox"><span> No Smoking Place</span>
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox"><span> Dummy Text</span>
                </label>
            </div>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Something yummy like Chicken Wings?">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Find me a place to eat!</button>
            </span>
        </div>
    </form>
</div>