<ul class="list-group">
  {{#each user in model}}
      <li class="list-group-item model-container pull-left shadow-z-2">
          <div>
                  <h4>Name:</h4> {{user.name}}
                  <h4>Email:</h4> {{user.email}}
          </div>
      </li>
  {{/each}}
</ul>