<div class="form-group">
    <label class="col-sm-3 control-label" {{bind-attr for=label}}>{{label}}</label>
    <div class="col-sm-9">
      {{input id=label type=type value=value placeholder=label class="form-control"}}
    </div>
</div>