<form class="form-horizontal" {{action "submit" on="submit"}}>
    <fieldset>
        <legend>{{legend}}</legend>
      {{yield}}
        <div class="form-group">
            <div class="col-lg-offset-2">
                <button type='submit' class='btn btn-primary'>{{submitBtnLabel}}</button>
            </div>
        </div>
    </fieldset>
</form>