<fieldset>
    <legend>{{legend}}</legend>
  {{form-field label="Question" type="text" value=value placeholder="Something you want to vote about"}}
  <div id="poll-options">
    {{yield}}
  </div>
</fieldset>