<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>HelloWorld Application</display-name>
  <description>
    This is a simple web application with a source code organization
    based on the recommendations of the Application Developer's Guide.
  </description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>public</web-resource-name>
      <url-pattern>/assets/*</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <context-param>
    <param-name>org.picketbox.authentication</param-name>
    <param-value>BASIC</param-value>
  </context-param>
  <context-param>
    <param-name>org.picketbox.configuration.provider</param-name>
    <param-value>cz.muni.fi.pv243.mustech.security.SecurityConfigurer</param-value>
  </context-param>

  <filter>
    <filter-name>PicketBox Delegating Filter</filter-name>
    <filter-class>org.picketbox.http.filters.DelegatingSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PicketBox Delegating Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
